{% extends 'base.html.twig' %}
{% block title %}modifier le profile{% endblock %}
{% block body %}

    <div class="container">
        <h1>Formulaire de modifier du mot de passe</h1>
        {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
        {% endfor %}

        {{form(form)}}


    </div>
{% endblock %}